body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(circle, #656e7c, #358faa, #00b2af, #00cf81, #a9e026);
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent;
    outline: none;
    font-size: 30px;
    transition: .2s all;
    box-shadow: 0px 5px 15px #000;
    position: relative;
    cursor: pointer;
}

button:nth-child(1) {
    border: 1px solid #ff0000;
    color: #ff0000;
}

button:nth-child(1):hover {
    background-color: #ff0000;
    color: #000;
}

button:nth-child(2) {
    border: 1px solid #00ff00;
    color: #00ff00;
}

button:nth-child(2):hover {
    background-color: #00ff00;
    color: #000;
}

button:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 15px #000;
}

button:before {
    content: attr(data-content);
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    width: 150%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    opacity: 0;
    transition: .5s all cubic-bezier(0.68, -0.55, 0.26, 1.55);
}

button:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s all cubic-bezier(0.68, -0.55, 0.26, 1.55);
}

button:nth-child(1):after {
    border-top: 8px solid #ff0000;
}

button:nth-child(2):after {
    border-top: 8px solid #00ff00;
}

button:nth-child(1):before {
    border: 1px solid #ff0000;
}

button:nth-child(2):before {
    border: 1px solid #00ff00;
}

button:nth-child(1):hover:before {
    color: #ff0000;
}

button:nth-child(2):hover:before {
    color: #00ff00;
}

button:hover:before, button:hover:after {
    opacity: 1;
}

button:hover:before {
    top: -70%;
}

button:hover:after {
    top: -46%;
}